@import "tailwindcss";


.dropdown-container {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}



body, html, .page-wrapper {
  overflow: visible; /* não pode ser hidden */
}

.navbar, .menu {
  transform: none !important; /* remova transformações */
}

.cta-button {
  transform: translateY(0);
  transition: all 0.3s ease;
}

.cta-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.2), 0 4px 6px -2px rgba(255, 255, 255, 0.1);
}

